@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #332e29;
    --light-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

button, .btn{
    cursor: pointer;
    border: none;
    background: transparent;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.vh-100{
    min-height: 100vh;
}
h1, h2, h3{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--dark-color);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 7rem 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.lead{
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}

/* header */
#header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/header-banner.jpg') center/cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}
#header .container{
    width: 100%;
}
.header-content{
    padding-bottom: 4rem;
}
.header-content h1{
    font-size: 4.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--light-color);
}
.header-content h3{
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.social-links{
    display: flex;
    margin-top: 3.5rem;
}
.social-links li a{
    width: 40px;
    height: 40px;
    background-color: var(--light-color);
    margin-right: 1rem;
    border-radius: .3rem;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
.social-links li a:hover{
    opacity: 0.9;
}

/* about */
.about-left{
    margin-bottom: 4rem;
    height: 480px;
    overflow: hidden;
}
/* button down and title -reusable */
.btn-down{
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}
.btn-down:hover{
    opacity: 0.8;
    transform: translateY(5px);
}
.btn-down-white{
    color: var(--light-color);
}
.title{
    margin-bottom: 5rem;
}
.title h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}
.title h2::after{
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--dark-color);
}

/* work */
#work{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/work-pic.jpg') center/cover no-repeat fixed;
    color: var(--light-color);
}
#work .title h2, #work h3{
    color: var(--light-color);
}
#work .title h2::after{
    background: var(--light-color);
}
.work-bottom{
    margin-top: 4rem;
    text-align: center;
}
.work-bottom > div .icon img{
    width: 50px;
    margin: 0 auto 1.7rem auto;
}
/* portfolio */
.portfolio-grid > div{
    transition: var(--transition);
}
.portfolio-grid > div:hover{
    transform: scale(0.9);
}

/* contact */
#contact{
    background-color: rgb(248, 248, 248);
}
.contact-content{
    flex-direction: column;
    align-items: stretch;
}
.contact-left{
    margin-bottom: 5rem;
}
/*.contact-left .lead{
    padding: 0.5rem;
}
.contact-left form{
    margin-top: 3rem;
}
.contact-left form .form-control{
    display: block;
    margin: 1.6rem 0;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 100%;
}
.contact-left form .form-control::placeholder{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-left .btn-submit{
    padding: 1.4rem 3rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    transition: var(--transition);
}
.contact-left .btn-submit:hover{
    background-color: #000;
}*/

/*#insta{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/insta-pic.jpg') center/cover no-repeat fixed;
    min-height: 65vh;
}
#insta .title h2{
    color: var(--light-color);
}
#insta .title h2::after{
    background-color: var(--light-color);
}
.insta-grid > div{
    height: 400px;
    overflow: hidden;
    transition: var(--transition);
}
.insta-grid > div img{
    height: 100%;
    object-fit: cover;
}
.insta-grid > div:hover{
    transform: scale(0.9);
}
.insta-grid grid{
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px 2px rgba( 0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    transition: 3s;
}*/
/*.ab {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    transition: .8s;
}
.insta-grid grid:hover .ab{
    transform: translate( -50%, -50%)scale(1.5);
}*/
/* ---------x----------------------x-------- */
/*.tent{
    color: beige;
    background: rgba( 0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s;
}
.insta-grid grid:hover .tent{
    left: 0;
}*/
/* ----------------------card------------------- */


.gl-card{
   
    overflow: hidden;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/insta-pic.jpg') center/cover no-repeat fixed;
/*    min-height: 65vh;*/
}

.gl-card .gl-text{
    position: absolute;
    /* bottom: 20px;
    left: 8%; */
    background-color:  rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px;
}
/* .gl-card .gl-text h3{
    margin: 0;
    letter-spacing: 1px;
    font-size: 1.3em;
} */
/* .gl-card .gl-text h1{
    text-align: justify;
    line-height: 1.5em;
    letter-spacing: 1px;
    opacity: 0;
    transition-delay: 0.5s;
} */
.gl-card:hover .gl-text{
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}
/* .gl-card:hover .gl-text h1{
    opacity: 1;
} */



/* ---------------------card-------------------- */

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(20px); 
    }
}

.hamburger {
    display: none;
}

.mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
}

.mobile .hamburger span {
    background: var(--pure);
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}

.mobile ul.nav-list {
    background: -webkit-linear-gradient(45deg, #434343, #000000);
    background: linear-gradient(45deg, #434343, #000000);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.hamburger, .brand {
    z-index: 9999;
}

.mobile ul.nav-list.open {
    opacity: 1;
    pointer-events: auto;  
}

.mobile .hamburger span {
    transform-origin: left;
    transition: all .3s ease-in-out;
}

.mobile ul.nav-list li a {
    font-size: 20px;
}

.mobile ul.dropdown-list {
    position: relative;
    background: transparent;
    text-align: center;
    height: 0;
    overflow-y: hidden;
    transition: opacity 1s ease-in-out;
    padding-top: 0;
}

.mobile .nav-wrapper ul li:hover .dropdown-list {
    height: max-content;
    padding-top: 6px;
}

.mobile ul.nav-list li {
    margin-left: 0;
    text-align: center;
}

.mobile .nav-wrapper ul.dropdown-list li a {
    color: var(--dark-gray);
}
/*---------------------------------------------------------------*/
.hd-cnt{
    padding-bottom: 4rem;
    padding-top: 5rem;
    overflow: hidden;
}
.hd-cnt h1{
    font-size: 4.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--light-color);
}
.hd-cnt h3{
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}



/*---------------------------------------------------------------*/


.gall-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: darkkhaki;
}
.img{
    width: 100%;
    border-radius: 10px;
}

/*--------------------- gl text----------------------------- */

.gl-text{
    text-align: center;
}
.text{
    color: #fff;
    font-size: 15px;
}

/* ----------------media quary---------------- */
/* ----------------media quary---------------- */

@media (max-width:1200px){
    .gall-cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 100px;
        border-radius: 5px;
        background-color: darkkhaki;
    }
}
@media (max-width:700px){
    .gall-cont {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 100px;
        border-radius: 5px;
        background-color: darkkhaki;
    }
    /* .hd-cnt{
        font-size: 10px;
    } */
    .hd-cnt h1{
        width: 30%;
        padding-right: 2px;
        padding-left: 0;
        font-size: 35px;
    }
    /* .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } */
}




/* footer */
#footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}
.footer-content{
    text-align: center;
}
.footer-content h3{
    color: var(--light-color);
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.footer-content ul{
    flex-direction: column;
}
.footer-content ul li a{
    color: var(--light-color);
    font-size: 3rem;
    transition: var(--transition);
}
.footer-content ul li a:hover{
    opacity: 0.7;
    color: #000;
    background-color: wheat;
    border-radius: 15px;
}
.footer-content ul li{
    margin: .5rem 1rem;
}
.footer-content > div:first-child{
    margin-bottom: 3rem;
}
.footer-content > div:first-child div{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 5rem auto;
    border-radius: 50%;
}


/* Media Queries */

@media(min-width: 450px){
    .work-bottom{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 0;
    }
}
@media(min-width: 576px){
    .title h2{
        font-size: 4rem;
    }
    .work-bottom{
        grid-template-columns: repeat(4, 1fr);
    }
    .portfolio-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-grid > div{
        height: 300px;
        overflow: hidden;
    }
    .portfolio-grid > div img{
        height: 100%;
        object-fit: cover;
    }
    .contact-left form .form-control{
        max-width: 500px;
    }
    .footer-content ul{
        flex-direction: row;
    }

}

@media(min-width: 768px){
    .header-content h1{
        font-size: 7rem;
    }
    .about-content, .work-top{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 0;
    }
    .about-left{
        margin-bottom: 0;
    }
    .contact-content{
        flex-direction: row;
    }
    .contact-right{
        padding-left: 3rem;
        width: 50%;
    }
    .contact-left{
        width: 50%;
    }
    .insta-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

/*@media(min-width: 992px){
    .insta-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .insta-grid > div{
        height: 250px;
    }
}*/

@media(min-width: 1200px){
    .portfolio-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .portfolio-grid > div:nth-child(2){
        grid-column: 2 / 4;
    }
    .portfolio-grid > div:nth-child(6){
        grid-column: 1 / 3;
    }
}

